<h1>Show Sheet</h1>

<ul>

  <li>
    <strong>Date:</strong>
    <%= @sheet.date %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @sheet.status %>
  </li>
  <li>
    <strong>User:</strong>
    <%= @sheet.user.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.sheet_path(@conn, :edit, @sheet) %></span>
<span><%= link "Back", to: Routes.sheet_path(@conn, :index) %></span>
