<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Timesheet · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
    <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-light bg-white">
        <div class="col-4">
          <a class="navbar-brand" href="#">Timesheets</a>
        </div>
        <div class="col-4">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
	      <%= if @current_user do %>
	          <a class="nav-link" href="#">All Timesheets</a>
		  <%= if @current_user.is_manager do %>
		   is manager
		   <% end %>
	      <% end %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Your Timesheets</a>
            </li>
          </ul>
        </div>
        <div class="col-4 text-light">
          <%= if @current_user do %>
            User: <%= @current_user.name %>
            (<%= link("Logout", to: Routes.session_path(@conn, :delete),
              method: :delete) %>)
          <% else %>
            <%= link("Login", to: Routes.session_path(@conn, :new)) %> |
	    <%= link("Register", to: Routes.user_path(@conn, :new)) %>
          <% end %>
        </div>
      </nav>

      <div class="row">
        <div class="col-12">
          <%= if get_flash(@conn, :info) do %>
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <% end %>
          <%= if get_flash(@conn, :error) do %>
            <p class="alert alert-danger" role="alert">
              <%= get_flash(@conn, :error) %>
            </p>
          <% end %>
        </div>
      </div>

      <%= render @view_module, @view_template, assigns %>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
